body {
    overflow-x: hidden;
}

/* calender 样式 */
.eui-calendar {
    display: none;
    position: absolute;
    left: 20px;
    top: 50px;
    width: 650px;
    min-width: 200px;
    min-height: 200px;
    padding: 10px 5px 10px 150px;
    background: rgb(255,255,255);

    font-family: 微软雅黑, Verdana, sans-serif;
}

.eui-calendar-selectcontent,  .eui-calendar-datecontent, .eui-calendar-week{
    width: 485px;
    margin-top: -31px;

    padding: 0;
    list-style: none outside none;
}

.eui-calendar-selectcontent li {
    display: inline;
}

select[data-calendar="year"], select[data-calendar="month"] {
    width: 110px;
    border: 1px solid white;
    outline: none;
    text-align: center;
    font-size: 30px;
    font-family: 华文细黑, 微软雅黑;
    background-color: #EBE361;//#EBC361;
    color: #786441;
    left: 500px;
}
select[data-calendar="year"] {
    position: absolute;
    left: 672px;
    margin-top: 41px;
}
select[data-calendar="month"] {
    position: absolute;
    left: 799px;
    margin-top: 41px;
}


.eui-calendar-week{
    margin: 0 0 70px;
    width: 485px;
    height: 81px;
    background-image: url(../imgs/weekday.png);
    background-repeat: no-repeat;
    background-position-y: 20px;
}

.eui-calendar-weekday, .eui-calendar-lastmonthdate, .eui-calendar-date {
    float: left;
    width: 60px;
    height: 60px;
    margin: 4px;
    font-size: 24px;
    line-height: 60px;
    text-align: center;
}

.eui-calendar-weekday {
    font-weight: lighter;
    color: rgb(89, 89, 112);
    font-size: 19px;
}

.eui-calendar-date {
    background: rgb(236, 236, 239);
    color: rgb(60, 187, 246);
    text-shadow: 0px 1px 1px rgba(250, 250, 250, 0.6);
    box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.2);
    border-radius: 3px 3px 3px 3px;
    cursor: pointer;
}

.eui-calendar-today{
    box-shadow: 0px 0px 120px rgba(0, 160, 250, 0.5) inset;
    background: rgb(195, 226, 250)\9;
    color: white;
}

.eui-calendar-date:hover {
    box-shadow: 0px 0px 100px rgba(0, 160, 250, 0.6) inset;
    background: rgb(185, 196, 220)\9;
    color: #ffffff;
}


/* 插件位置 */


#calendar {
    position: absolute;
    width: 100%;
    height: 100%;
    top: 50px;
}
#calendar p{
    width: 100%;
    height: 100%;
}

#dateSelect {
    position: absolute;
    z-index: 3;
    outline: none;
    color: #333;
    width: 114px;
    height: 114px;
    top: 81px;
    margin-left: 180px;
    font-family: 微软雅黑, 华文细黑;
    font-size: 0px;
    color: #bbb;
    border: none;
    background-color: #fff;
    background-image: url(../imgs/选择日期-xiao.png);
    background-repeat: no-repeat;
    cursor: pointer;
    padding: 0 0;
}


#turnDate {
    position: absolute;
    display: block;
    color: white;

    font-size: 2.1em;
    font-family: 华文细黑;
    font-weight: lighter;
    text-align: center;
    line-height: 33px;
    width: 120px;
    height: 36px;
    z-index: 4;
    margin-left: 1019px;
    top: 50%;
    margin-top: -18px;
    cursor: pointer;
}

#zhezhao {
    width: 120px;
    height: 120px;
    position: absolute;
    z-index: 2;
    top: 145px;
    margin-left: 185px;
}

#dateList {
    position: absolute;
    text-align: center;
    font-family: 微软雅黑;
    left: 350px;
    top: 200px;
}

#rightTip {
    position: absolute;
    right: 0;
    margin-right: -72px;
    top: inherit;
    margin-top: 25px;
    z-index: 100;
}

.dateLine {
    display: inline-block;
    font-size: 1.4em;
    color: #847252;
    width: 60px;
    height: 110px;
    margin-left: 10px;
}

#sideBar {
    width: 70px;
    position: absolute;
    top: 224px;
    left: 254px;
}

.sideKuai {
    border: none;
    outline: none;
    text-align: center;
    color: #786441;
    font-family: 华文细黑, 微软雅黑;
    font-size: 1.5em;
    width: 70px;
    height: 30px;
    outline: none;
    margin-top: 40px;
}


#middleBar {
    position: absolute;
    top: 250px;
    left: 350px;
    line-height: 1px;
}
#middleBar span {
    
}

.middleKuai {
    display: inline-block;
    width: 70px;
    height: 70px;
    border: 1px solid white;
    
    cursor: pointer;
}

.mengban {
    position: absolute;
    z-index: 20;
    width: 100%;
    height: 72px;
    background-color: white;
    margin-top: -50px;
}

#mengban1 {
    top: 517px;
}
#mengban2 {
    top: 589px;
}
#mengban3 {
    top: 661px;
}
#mengban4 {
    top: 733px;
}



.showBtn {
    position: absolute;
    z-index: 21;
    width: 75px;
    height: 30px;
    font-size: 1.5em;
    font-family: 华文细黑, 微软雅黑; 
    background-image: url(../imgs/jia.png);
    background-repeat: no-repeat;
    background-position: right;
    color: #786441;
    left: 254px;
    cursor: pointer;
    margin-top: -50px;
}

#button2, #button3, #button4 {
    display: none;
}

#button1 {
    top: 517px;
}
#button2 {
    top: 589px;
}
#button3 {
    top: 661px;
}
#button4 {
    top: 733px;
}

#allSecond {
    display: none;
}

#fasongBtn {
    position: absolute;
    z-index: 99;
    margin-left: 900px;
    top: 65%;
    margin-top: 45px;
    cursor: pointer;
}

#backBtn {
    display: block;
    width: 116px;
    height: 36px;
    position: absolute;
    bottom: 40px;
    left: 129px;
    z-index: 100;
}

#tips {
    color: rgb(119,125,107);
    font-family: 微软雅黑;
    font-size: 40px;
    width: 360px;
    height: 100px;
    position: absolute;
    right: 114px;
    top: 48%;
    margin-top: -50px;
    letter-spacing: 5px;
}

#zhebi {
    display: none;
    position: absolute;
    z-index: 200;
    width: 100%;
    height: 100%;
    background-color: #000;
    opacity:0.4;
    filter:alpha(opacity=40);
}

#feedback {
    display: none;
    position: absolute;
    z-index: 300;
    width: 800px;
    height: 600px;
    left: 50%;
    margin-left: -400px;
    top: 50%;
    margin-top: -300px;
    background-color: white;
    border: 3px solid #73CDED;
    color: #786441;
}

#urlIntro {
    position: absolute;
    top: 100px;
    left: 100px;
    font-family: 华文细黑, 微软雅黑;
    font-size: 2em;
}

#urlValue {
    position: absolute;
    top: 142px;
    left: 100px;
    font-family: 华文细黑, 微软雅黑;
    font-size: 2em;
}

#passwdIntro {
    position: absolute;
    top: 300px;
    left: 100px;
    font-family: 华文细黑, 微软雅黑;
    font-size: 2em;
}

#passwdValue {
    position: absolute;
    top: 348px;
    left: 100px;
    font-family: 华文细黑, 微软雅黑;
    font-size: 2em;
}

#xiangmuName {
    display: none;
    width: 300px;
    height: 200px;
    position: absolute;
    top: 133px;
    left: 1024px;
}

#xiangmumingcheng {
    font-family: 华文细黑,微软雅黑;
    font-size: 2rem;
    font-weight: lighter;
}

#xiangmuName input {
    position: absolute;
    outline: none;
    border: none;
    border-bottom: 3px solid #73CDED;
    height: 35px;
    font-size: 30px;
    top: 89px;
}