body {
  margin:0px;
  background-image:none;
  position:static;
  left:auto;
  width:640px;
  margin-left:0;
  margin-right:0;
  text-align:left;
}
#base {
  position:absolute;
  z-index:0;
}
#u0 {
  position:absolute;
  left:40px;
  top:70px;
  width:600px;
  height:390px;
}
#u0_img {
  position:absolute;
  left:0px;
  top:0px;
  width:600px;
  height:390px;
}
#u1 {
  position:absolute;
  left:2px;
  top:187px;
  width:596px;
  visibility:hidden;
  word-wrap:break-word;
}
#u2 {
  position:absolute;
  left:40px;
  top:70px;
  width:597px;
  height:60px;
}
#u2_img {
  position:absolute;
  left:0px;
  top:0px;
  width:597px;
  height:60px;
}
#u3 {
  position:absolute;
  left:2px;
  top:22px;
  width:593px;
  visibility:hidden;
  word-wrap:break-word;
}
#u4 {
  position:absolute;
  left:248px;
  top:70px;
  width:90px;
  height:60px;
}
#u4_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u5 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  word-wrap:break-word;
}
#u6 {
  position:absolute;
  left:338px;
  top:70px;
  width:90px;
  height:60px;
}
#u6_img {
  position:absolute;
  left:0px;
  top:0px;
  width:90px;
  height:60px;
}
#u7 {
  position:absolute;
  left:2px;
  top:22px;
  width:86px;
  word-wrap:break-word;
}
#u8 {
  position:absolute;
  left:43px;
  top:70px;
  width:127px;
  height:60px;
}
#u8_img {
  position:absolute;
  left:0px;
  top:0px;
  width:127px;
  height:60px;
}
#u9 {
  position:absolute;
  left:2px;
  top:22px;
  width:123px;
  word-wrap:break-word;
}
#u10 {
  position:absolute;
  left:90px;
  top:180px;
  width:100px;
  height:60px;
}
#u10_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u11 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u12 {
  position:absolute;
  left:260px;
  top:180px;
  width:100px;
  height:60px;
}
#u12_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u13 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
#u14 {
  position:absolute;
  left:440px;
  top:180px;
  width:100px;
  height:60px;
}
#u14_img {
  position:absolute;
  left:0px;
  top:0px;
  width:100px;
  height:60px;
}
#u15 {
  position:absolute;
  left:2px;
  top:22px;
  width:96px;
  word-wrap:break-word;
}
